<header>
    <a class="button" href="{{ url_for('musics.index') }}">Home</a>
    {% if not session.get('user') %}
        <a class="button" href="{{ url_for('user.SignUp_user') }}">SignUp</a>
        <a class="button" href="{{ url_for('user.user_login') }}">Login</a>
    {% endif %}
    {%  if session.get('user')  %}
        <a class="button" href="{{ url_for('user.profile', user=session.get('user')) }}"> Profile</a>
        <a class="button" href="{{ url_for('user.logout') }}">Logout</a>

    {% endif %}

</header>
<div>
    <form method="get" action="{{ url_for('musics.music_search') }}">
        {{ search_form.Search(placeholder = "Search")}}
        <input type="submit">
    </form>
</div>