<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/mini-css.css')}}">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bamdadam Man</title>
</head>
<body>
    <h3 dir='rtl'>با موفقیت از حساب کاربری خود خارج شدید</h3>
</body>
</html>
