<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/mini-css.css')}}">
    <link rel="icon" href="{{ url_for('static' , filename='favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% include 'header.html' %}
{% if not found_posts %}
    <p>متاسفانه چنین پستی یافت نشد !!!</p>
{% endif %}
{% for music in found_posts %}
    <div>
            <a href="{{ url_for('musics.single_music' , name=music.name) }}"><img src="{{ music.photo }}"></a>
            <p>{{ music.name }}</p>
        <audio preload="auto" controls>
                      <source src={{ music.link_download }}>
        </audio>
    <a href="{{ music.link_download }}" download> دانلود </a>
{% endfor %}
</body>
</html>