<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/mini-css.css')}}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% include 'header.html' %}
<div dir="rtl">
    <p> نام اهنگ :{{ post.name }}</p>
    <p> البوم‌: {{ post.album }}‌</p>
    <p>خواننده : {{ post.artist }} </p>
    <p>{{ post.info }}</p>
    <p> پخش انلاین</p>
    <audio preload="auto" controls>
        <source src={{ post.link_download }}>
    </audio>
    <a href="{{ post.link_download }}" download> دانلود </a>
    <input type="button" id="LikePost" value="Like">
</div>

</body>
</html>