body
{
    background: #333;
    margin: 0;
    padding: 0;

}
.container
{
    width: 1360px;
    height: 650px;
    background-image: url("../bamdad-login.jpg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.container h1
{
    font-size: 40px;
    margin-top: 125px;
    margin-bottom: 60px;
}
.tbox
{
    width: 260px;
    height: 40px;
    background: #f1f1f1b3;
    border-radius: 10px;
    margin: 10px auto;

}
.tbox:hover
{
    content: '';
    outline: none;
}
.tbox input
{
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-size: 14px;
    color: #333;

}
.btn
{
    width: 260px;
    height: 40px;
    background: rgba(86, 170, 241, 0.7);
    border-radius: 10px;
    margin: 14px auto;
    display: block;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover
{
    background: #2b6aff;
}
